# 默认忽略的文件
/../../TheMusicPlayer./.idea/shelf/
/../../TheMusicPlayer./.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../TheMusicPlayer./.idea/httpRequests/
# Datasource local storage ignored files
/../../TheMusicPlayer./.idea/dataSources/
/../../TheMusicPlayer./.idea/dataSources.local.xml
